# FHIR server
# Please note: Use the FHIR server short names defined in the dizapp01.conf

fhirServer<confNo1>_user: <username>
fhirServer<confNo1>_pw: <password>
fhirServer<confNo2>_user: <username>
fhirServer<confNo2>_pw: <password>
